<h1>Listing Matches</h1>

<table>
  <thead>
    <tr>
      <th>Season</th>
      <th>Queue</th>
      <th>Region</th>
    </tr>
  </thead>
  <tbody>
<%= for match <- @matches do %>
    <tr>
      <td><%= match.season_id %></td>
      <td><%= match.queue_id %></td>
<td><%= match.region %></td>

    
    </tr>
<% end %>
  </tbody>
</table>


